[Unit]
Description=Hadoop namenode
After=network.target

[Service]
ExecStart={{ hadoop_home }}/bin/hadoop secondarynamenode
User={{ hadoop_user }}
Group={{ hadoop_group }}
Environment=HADOOP_CONF_DIR={{ hadoop_home }}/conf


[Install]
WantedBy=multi-user.target
