[Unit]
Description=Hadoop namenode
After=hadoop-namenode.service

[Service]
ExecStart={{ hadoop_home }}/bin/hadoop datanode
User=hadoop
Group=hadoop


[Install]
WantedBy=multi-user.target
