[Unit]
Description=Hadoop namenode
After=network.target

[Service]
ExecStart={{ hadoop_home }}/bin/hadoop namenode
User=hadoop
Group=hadoop


[Install]
WantedBy=multi-user.target
