[Unit]
Description=Apache Flink
After=hadoop-datanode

[Service]
ExecStart={{ flink_home }}/bin/flink-daemon.sh start jobmanager
User={{ flink_user }}
Group={{ flink_group }}
WorkingDirectory={{ flink_home }}


[Install]
WantedBy=multi-user.target
