[Unit]
Description=HBase master
After=network.target

[Service]
ExecStart={{ hbase_home }}/bin/hbase-daemon.sh start master
ExecStop={{ hbase_home }}/bin/hbase-daemon.sh stop master
User={{ hbase_user }}
Group={{ hbase_group }}
Environment=HBASE_CONF_DIR={{ hbase_home }}/conf
Environment=JAVA_HOME={{ java_home }}


[Install]
WantedBy=multi-user.target
