[Unit]
Description=Spark slave
After=spark-master.service

[Service]
Type=forking
ExecStart={{ spark_home }}/sbin/start-slave.sh spark://{{ spark_master }}:7077
ExecStop={{ spark_home }}/sbin/stop-slave.sh
User={{ spark_user }}
Group={{ spark_group }}
Environment=SPARK_HOME={{ spark_home }}
Environment=JAVA_HOME={{ java_home }}

[Install]
WantedBy=multi-user.target
